<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mindtek.it.synapsesample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <!-- PUSH-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="mindtek.it.synapsesample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="mindtek.it.fusionsample.permission.C2D_MESSAGE" />


    <application
        android:name="mindtek.it.synapsesample.MyApp"
        android:allowBackup="true"
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="mindtek.it.synapsesample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- PUSH -->
        <receiver
            android:name="mindtek.synapse.push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- IMPORTANT: Change "mindtek.it.fusionsample" to match your app's package name. -->
                <category android:name="mindtek.it.fusionsample" />
            </intent-filter>
        </receiver>

        <!-- REGION MESSAGES-->
        <receiver
            android:name="mindtek.synapse.beacons.regions.RegionBroadcastReceiver" >
            <intent-filter>
                <action android:name="mindtek.fusion.permission.REGION_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>